*

# Git
!.gitconfig
!.gitattributes
!.gitignore
!.gitmodules

# Ruby
!.gemrc

# Shell
!.profile
!.profile.d
!.profile.d/*.sh
!.profile.d/shrimp

# Vim
!.SpaceVim
!.SpaceVim.d
!.SpaceVim.d/**

# Tmux
!.tmux
!.tmux.conf
!.tmux.conf.local
