*

# Git
!.gitconfig
!.gitattributes
!.gitignore
!.gitmodules

# SSH
!.ssh
!.ssh/*.pub
# Per key whitelist for symlinking
!.ssh/id_ed25519

# Ruby
!.gemrc

# Shell
!.profile
!.profile.d
!.profile.d/*.sh
!.profile.d/shrimp

# Vim
!.SpaceVim
!.SpaceVim.d
!.SpaceVim.d/**

# Tmux
!.tmux
!.tmux.conf
!.tmux.conf.local
