[submodule ".profile.d/shrimp"]
	path = .profile.d/shrimp
	url = https://github.com/nwmcsween/shrimp.git
[submodule ".SpaceVim"]
	path = .SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
